@font-face {
  font-family: Raleway-Light;
  src: url('../../../static/fonts/Raleway-Light.otf');
}
@font-face {
  font-family: Raleway-ExtraLight;
  src: url('../../../static/fonts/Raleway-ExtraLight.otf');
}
@font-face {
  font-family: Raleway-Thin;
  src: url('../../../static/fonts/Raleway-THin.otf');
}
@font-face {
  font-family: ChristopherHand;
  src: url('../../../static/fonts/comesinhandy.ttf');
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway-ExtraLight;
}
a:hover,
a:focus {
  color: #674ea7;
  text-decoration: underline;
}
a:link,
a:visited {
  color: #674ea7;
  text-decoration: none;
}
blockquote {
  border: 0px !important; /* over-write bootstrap border defaults */
}
blockquote h1, blockquote h2, blockquote h3, blockquote h4, blockquote h5, blockquote h6 {
  color: #674ea7;
}
body {
  text-align: center;
  color: #606060;
}

.tag-line {
  letter-spacing: 2px;
  font-size: 12px;
  margin-top: 12px;
}
section#header header {
  padding-top: 20px;
}
section#header header a#logo {
  max-width: 350px;
  display: block;
  margin: auto;
}
section#header header a#logo img {
  margin: 0 auto;
  padding: 0px 15px;
}
#mainmenu {
  padding: 20px 0px;
  margin-top: 15px;
}
  @media (min-width: 0px) and (max-width: 480px) {
    #mainmenu {
      font-size: 12px !important;
    }
  }
  @media (min-width: 481px) {
    #mainmenu {
      letter-spacing: 1px;
    }
  }


section#header header nav#mainmenu ul {
  margin: 0;
  padding: 0;
}
section#header header nav#mainmenu ul li {
  display: inline-block;
  text-transform: uppercase;
  margin: 0px 2%;
}
section#header header nav#mainmenu ul li a {
  color: #606060;
}
section#header header nav#mainmenu ul a:hover {
  color: #674ea7;
}
section#header header nav#mainmenu ul a:active {
  color: #674ea7;
}
section#header header nav#submenu {
  top: -5px;
}
section#header header nav#submenu ul {
  display: block;
  margin: 0;
  padding: 0;
}
section#header header nav#submenu ul li {
  display: inline-block;
  font-size: 1em;
  padding: 0px 0px 0px 20px;
}
section#header header nav#submenu ul li a:hover {
  color: #674ea7;
}
section#header header nav#submenu ul li.active a {
  display: inline-block;
  padding-bottom: 0px;
  border-bottom: 1px solid #6c6c6c;
}
section#header header nav#submenu ul li::before {
  content: '•';
  font-size: 2em;
  display: inline;
  margin-right: 20px;
  position: relative;
  top: 3px;
}
section#header header nav#submenu ul li:last-child::after {
  content: '';
}
.highlight {
  color: #674ea7;
}
section#banner {
  padding: 0;
  height: auto;
  background-color: #ddd;
  margin-bottom: 25px;
}
.banner-holder img {
  width: auto;
  position: absolute;
  right: 0;
  height: auto;
  min-height: 500px;
}
.banner-holder div.row {
  position: relative;
  z-index: 99;
  height: 420px;
  display: inline-flex;
}
.banner-holder {
  position: relative;
  overflow-y: hidden;
  width: 100%;
}
.banner-holder,
.banner-holder div.row div.frame a.button {
  color: #fff;
}
/*.frame {
  min-height: 170px;
  margin: auto auto;
}*/
.banner-holder div.row div.frame a.button {
  display: block;
  padding: 17px;
  border: 1px solid #fff;
  max-width: 200px;
  margin: auto;
  text-transform: uppercase;
}
.banner-holder h2 {
  font-size: 3.5em;
  text-transform: uppercase;
}
.banner-holder div.row.banner-nav-holder {
  clear: both;
  display: block;
  width: 100%;
  height: 30px;
  margin: 0;
}
ul.banner-nav {
  display: inline-flex;
  margin: auto;
  padding: 0;
}
ul.banner-nav li {
  display: inline-block;
}
ul.banner-nav li {
  display: inline-block;
  background: #464646;
  width: 15px;
  height: 15px;
  margin: 0px 6px;
  cursor: pointer;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
ul.banner-nav li.active {
  background: #fff;
}
section#blog {
  max-width: 810px;
}
section#blog article {
  margin-bottom: 70px;
}
section#blog h2.title {
  text-transform: uppercase;
  font-size: 46px;
  font-family: 'Raleway-ExtraLight';
  letter-spacing: 4.5px;
}
section#blog p.description {
  margin-bottom: 30px;
}
section#blog img {
  margin: auto;
}
section#blog .row {
  margin-bottom: 20px;
  margin-right: 0;
  margin-left: 0;
}
hr.dash {
  border-top: 1px dashed #B0B0B0;
  max-width: 110px;
}
p#social {
  color: #9E9E9E;
  font-size: 0.9em;
}
footer {
  max-width: 1024px;
}
footer #about h2 {
  font-family: ChristopherHand;
  font-size: 4em;
}
footer #sponsors img {
  display: inline-block;
  margin: 0;
}

@media screen and (min-width: 1201px) {
  .banner-holder img {
    width: 100%;
    position: absolute;
    left: 0;
    height: auto;
    min-height: 500px;
  }
}
div#secondary-nav {
  padding: 40px 0px;
  border-top: 2px dotted #6c6c6c;
  max-width: 1024px;
  margin: 30px auto 0px;
}
div#secondary-nav li a {
  color: #6c6c6c;
}
@media screen and (max-width: 480px) {
  footer #sponsors img {
    display: block;
    clear: both;
    margin: 20px auto;
  }

}
.img-holder {
  max-height: 234px;
  margin: 0px;
  padding: 0;
}
.row.thumbnail-holder {
  padding: 0;
  max-width: 1024px;
  margin: 0px auto 30px;
  padding-bottom: 30px;
  border-bottom: 2px dotted #6c6c6c;
}
.thumbnail-holder .thumbnail {
  width: 98%;
  height: auto;
}
/* SLIDER CSS */

/* overwrite the applied dimensions */
.banner-holder .eps-slide {
  width: 100% !important;
  min-width: 100% !important;
  max-width: none !important;
  max-height: none !important;
}
  .banner-holder .da-slide {
    min-width: 320px !important;
    height: 100% !important;
  }
    .banner-holder .da-img {
      width: 100% !important;
      min-width: 640px !important;
      background-size: 100% !important;
    }
div.da-slide-heading-content h2 {
    font-family: Raleway-ExtraLight!important;
    font-size: 3.5em!important;
    text-align: center;
    display: block;
    width: 80%;
    left: 10%;
    font-weight: normal!important;
    margin: 0px !important;
    top: 30%;
}

.da-slide-content {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif!important;
    display: block!important;
    width: 80%!important;
    text-align: center;
    clear: both;
    top: 46% !important;
}

.da-slide a.da-link {
    display: block!important;
    width: auto!important;
    background: transparent!important;
    border-radius: 0;
    border: 0px !important;
    padding: 0px;
    font-size: 11px !important;
    letter-spacing: 4px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif!important;
    text-decoration: none!important;
    top: 60% !important;

    /* Read more centering */

    /* NOTES: 
     * centering is achieved by placing .da-link in the middle
     * and then offsetting left its inner div.da-link-div by 
     * half the div.da-link-div's amount
     */
    margin: 0px;
    left: 50% !important;
}
  div.da-link-div {
    border: 1px solid #fff;
    padding: 5px;
    width: 210px;
    margin-left: -105px;
  }

  /* Slider Responsive sizing */
  @media (min-width: 960px) {
    div.da-slide-heading-content h2 {
        font-size: 3.5em!important;
    }
    .da-slide-content {
        font-size: 1.2em;
    }
    .da-slide a.da-link {
        font-size: 11px !important;
        letter-spacing: 4px;
    }
  }
  @media (min-width: 768px) and (max-width: 959px) {
    div.da-slide-heading-content h2 {
        font-size: 3.0em!important;
    }
    .da-slide-content {
        font-size: 1.2em;
    }
    .da-slide a.da-link {
        font-size: 10px !important;
        letter-spacing: 4px;
    }
  }
  @media (min-width: 640px) and (max-width: 767px) {
    div.da-slide-heading-content h2 {
        font-size: 2.5em!important;
    }
    .da-slide-content {
        font-size: 1.0em;
    }
    .da-slide a.da-link {
        font-size: 10px !important;
        letter-spacing: 4px;
    }
  }
  @media (min-width: 480px) and (max-width: 639px) {
    div.da-slide-heading-content h2 {
        font-size: 2.3em!important;
    }
    .da-slide-content {
        font-size: 1.0em;
    }
    .da-slide a.da-link {
        font-size: 10px !important;
        letter-spacing: 4px;
    }
    .da-slide div.da-link-div {
      padding: 2px;
      width: 180px;
      margin-left: -90px;
    }
  }
  @media (min-width: 0px) and (max-width: 479px) {
    div.da-slide-heading-content h2 {
      font-size: 1.4em !important;
      font-family: 'Raleway-Light';
    }
    .da-slide-content {
      font-size: 1.0em;
      font-weight: 200 !important;
    }
    .da-slide a.da-link {
      font-size: 10px !important;
      letter-spacing: 2px;
    }
    .da-slide div.da-link-div {
      padding: 2px;
      width: 180px;
      margin-left: -90px;
    }
  }

    
.da-arrows span:after {
    box-shadow: none!important;
    color: #fff!important;
}
.banner-holder.container{
  padding-left: 0!important;
 padding-right: 0!important;
}

#da-slider-eps_33 .da-arrows span {
    background: rgba(0, 0, 0, 0.76)!important;
    opacity: .3!important;
}
.da-dots span {
  display: inline-block!important;
  background: #464646!important;
  width: 15px!important;
  height: 15px!important;
  margin: 0px 6px!important;
  cursor: pointer!important;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25)!important;
  border-radius:0!important;
}

.da-dots span.da-dots-current:after {
    content: none!important;
}
.da-dots span.da-dots-current{
background:#fff!important;
}

.da-arrows span{
  top:47%!important;
}
h2 a:link {
    color: #606060;
}
article img {
    width: 100%;
    height: auto;
}
section#blog p a img {
    margin-bottom: 10px;
}

.mashicon-subscribe .icon:before {
color: #fff!important;
}
.mashicon-subscribe {
background: #FFA206;
}
.mashsb-container {
    max-width: 190px;
    margin: auto;
    text-align: center;
}

div.img-holder article a img{
display: block;
padding: 4px;
margin-bottom: 20px;
line-height: 1.42857143;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 4px;
-webkit-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}
section#header header nav#submenu ul li:first-child::before{
  content:none;
}
div.img-holder article a {
    display: block;
    margin: 0px 4px;
}
div#respond {
    border: 1px dashed #999;
    margin-top: 20px;
    padding-bottom: 20px;
}
section#blog h3 {
    color: #674EA7;
}

section#blog ,section#blog h2 a:link,section#blog ,section#blog h2 a:visited {
    color: #606060!important;
}
@media screen and (max-width:768px){
#secondary-nav h4{
  text-align:left;
  border-bottom: 1px dashed #999;
  padding-bottom:15px;
  padding-left:20px;
}
  .img-holder {
  max-height: 100%;
  margin: 0px;
  padding: 0;
}
}
@media screen and (max-width:600px){
#secondary-nav h4{
  text-align:center;
  border-bottom: 1px dashed #999;
  padding-bottom:15px
}
}